window {
    margin: 0px;
    background-color: #eee8d5;
    border-radius: 30px;
    border: 2px solid #2aa198;
}

#input {
    margin: 5px;
    border: none;
    color: #657b83;
    background-color: #fdf6e3;
    border-radius: 30px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #eee8d5;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #eee8d5;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #657b83;
} 

#entry:selected {
    background-color: #fdf6e3;
    border-radius: 20px;
    border: 2px solid #2aa198;
}

#entry:selected * {
    background-color: #fdf6e3;
    border-radius: 20px;
}
